[
  {
    displayName: "FILE 0.ext"
    type: "FILE"
    extension: ".ext"
    templateContent: "asdasdasd"
    items: []
  }
  {
    displayName: "FILE 1.ext"
    type: "FILE"
    extension: ".ext"
    templateContent: ""
    items: []
  }
  {
    displayName: "FILE 2.ext"
    type: "FILE"
    extension: ".ext"
    templateContent: "asdasdasd"
    items: []
  }
  {
    displayName: "FOLDER 3"
    type: "FOLDER"
    items: [
      {
        displayName: "FILE 4.ext"
        type: "FILE"
        extension: ".ext"
        templateContent: "asdasdasd"
        items: []
      }
    ]
  }
]
