# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view.full-menu': [
    {
      'label': 'Generate Template'
      'command': 'meteor-assist:toggle-template-generator'
    }
    {'type': 'separator'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Meteor Asssit'
      'submenu': [
        {
          'label': 'Settings'
          'command': 'meteor-assist:toggle-settings-view'
        }
      ]
    ]
  }
]
